section.banner
  .banner__text-wrapper
    h2.banner__title Who #[span is mr. Spidershiba&nbsp;Inu?]
    p.banner__subtitle it’s a hybrid of Shiba and Spiderman.... but
    p.banner__text It’s not only for pump and dump by Elon tweets.
    p.banner__text This is real NFT game with Achiements, Goals and nice gameplay with tokenization
  img.banner__img(src='img/banner-img.svg', alt='SpiderShiba Inu')
  .banner__btn-wrapper
    a.btn.btn--banner-join(href='#') Join Community
    a.btn.btn--banner-join(href='#') More about SpiderShiba Inu
  .banner__contact-address-wrapper
    .banner__contact-address-text Contract address:
    .banner__contact-address-code 0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc
