section.community(id='community')
  h2.community__title Join our SpiderShib Inu Community
  .community__links-wrapper
    a.community__link.community__link--telegram(href='#')
    a.community__link.community__link--twitter(href='#')
    a.community__link.community__link--reddit(href='#')
    a.community__link.community__link--facebook(href='#')
    a.community__link.community__link--m(href='#')
    a.community__link.community__link--instagram(href='#')
  img.community__img(src='img/community.svg', alt='community')
  .community__address-wrapper
    .community__address-label SpiderShiba Inu’s Contract address:
    .community__address 0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc
