section.how-it-works(id='how-it-works')
  h2.ho-it-works__title How it works?
  .how-it-works__items-wrapper
    .how-it-works.how-it-works--ecosystem
      h3.how-it-works-item__title SpiderShib Inu Ecosystem
      p.how-it-works-item__subtitle Large variety of options to use SpiderShib Inu tokens and NFTs
      p.how-it-works-item__text Our ecosystem is different from all the others, we have created the first REAL nft game with SpiderShib Inu.
      p.how-it-works-item__text So the tokens will have real usefulness and to ensure constant growth for all holders.
    .how-it-works.how-it-works--options
      h3.how-it-works-item__title Many options to earn
      p.how-it-works-item__subtitle Thanks to our ecosystem you will be able to earn passively and actively
      p.how-it-works-item__text The passive income:
        ul.how-it-works-item__list
          li.how-it-works-item__list-item staking
          li.how-it-works-item__list-item the appreciation of the staked currency
      p.how-it-works-item__text The active income:
        ul.how-it-works-item__list
          li.how-it-works-item__list-item Gaming process(you will earn money that you can turn into tokens)
          li.how-it-works-item__list-item Re-sale of the NFTs
    .how-it-works.how-it-works--reshaping
      h3.how-it-works-item__title Reshaping DeFi
      p.how-it-works-item__subtitle We are evolving DeFi concepts such as participation rewards, NFTs and tokenomics to maximise profit for every investor
      p.how-it-works-item__text We offer huge tools for people around the world to take control of their financial future.
