section.more(id='more')
  .more__links-wrapper
    a.more__link-item.more__link-item--pink-sale(href='#')
    a.more__link-item.more__link-item--inter-fi(href='#')
    a.more__link-item.more__link-item--sandbox(href='#')
    a.more__link-item.more__link-item--coin-gecko(href='#')
    a.more__link-item.more__link-item--coin-market-cap(href='#')
  h2.more__title Yes you read that right, SpiderShib Inu officially enters the game to conquer the world 🌎
  a.btn.btn--more(href='#') Let’s find out more
