section.partners-and-investors(id='partners-and-investors')
  h2.partners-and-investors__title Partners & Investors
  .partners-and-investors__wrapper
    a.partners-and-investors__link-item.partners-and-investors__link-item--pink-sale(href='#')
    a.partners-and-investors__link-item.partners-and-investors__link-item--inter-fi(href='#')
    a.partners-and-investors__link-item.partners-and-investors__link-item--sandbox(href='#')
    a.partners-and-investors__link-item.partners-and-investors__link-item--coin-gecko(href='#')
    a.partners-and-investors__link-item.partners-and-investors__link-item--coin-market-cap(href='#')
