section.play-to-earn(id='play-to-earn')
  h2.play-to-earn__title Play to earn
  p.play-to-earn__subtitle Many ways to earn tokens and NFTs
  .play-to-earn__wrapper
    img.play-to-earn__img(src='img/play-to-earn.png', alt='Play to earn')
    .play-to-earn__text-wrapper
      h4.play-to-earn__header Game plot and goal
      p.play-to-earn__text Mary Jane has been kidnapped by Green Goblin, who has no intention of letting her escape, so she flees to New York City, going through different scenarios that will be part of the game!
      p.play-to-earn__text The goal is to accumulate as many game coins and points as possible, which will then be transformed into the game token based also on the attempts used to complete the level.
      p.play-to-earn__text Once the Green Goblin is defeated and Mary Jane is safed, the game is over, but we don't stop there!

  .play-to-earn__options-wrapper
    .play-to-earn__option.play-to-earn__option--earn-that-cash
      .play-to-earn__option-title Earn that cash!
      .play-to-earn__option-text In the various levels there will also be special coins, more difficult to take, which will provide you with bonuses in tokens or game NFTs!
    .play-to-earn__option.play-to-earn__option--game-events-and-challenges
      .play-to-earn__option-title Game events and challenges
      .play-to-earn__option-text There will be lots of events after end of the game, that will bring together whole community and you can participate in challanges with the NFTs!
