section.why-invest(id='why-invest')
  .why-invest__title-wrapper
    h2.why-invest__title Why invest in SpiderShiba Inu?
    p.why-invest__subtitle in case you have lived in a cave in the last few months we will give you a brief summary of what happened in crypto industry
    a.btn.btn--why-invest Learn more about SpiderShiba
  .why-invest__options-wrapper
    .why-invest__option.why-invest__option--massive-trend
      h3.why-invest__option-title Massive trend
      p.why-invest__text Shiba inu has invaded the market with an infinity of other meme coins that collect thousands of BNB and after the launch they make mind-boggling numbers!
    .why-invest__option
      h3.why-invest__option-title 100% of value, 0% of memecoin!
      p.why-invest__text We took the best from this trend and have decided to ride this tremendous wave success in Shiba Inu tokens, not only by launching a coin, but by creating a real NFT game p2e
