.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 10px 15px;

  &__main-nav-burger {
    display: flex;
    z-index: 15;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-image: url('../img/main-menu-burger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #384d70;
    transition: background-image 0.35s ease-in;
    cursor: pointer;

    &.active {
      background-image: url('../img/main-menu-close.svg');
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .header {
    &__main-nav-burger {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .header {
    min-height: 100px;
    padding: 15px 90px;
  }
}

@media screen and (min-width: $screen-xl) {
  .header {
    max-width: $screen-xl;
    min-height: 100px;
    margin: 0 auto;
    padding: 15px 90px;
  }
}
