.page {
  font-family: $font-family;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__inner {
    display: flex;
  }

  &__content {
    display: flex;
  }

  &__footer-wrapper {
    display: flex;
  }
}
