-
    const MainNavItems = [
      {
        title: 'How it works',
        link: '#how-it-works'
      },
      {
        title: 'Play and earn',
        link: '#play-and-earn'
      },
      {
        title: 'Roadmap',
        link: '#roadmap'
      },
      {
        title: 'Team',
        link: '#team'
      },
      {
        title: 'Partners&Investors',
        link: '#'
      },
      {
        title: 'Why invest in SpiderShiba',
        link: '#'
      },
      {
        title: 'Tokenomics',
        link: '#'
      },
      {
        title: 'FAQ',
        link: '#'
      },
      {
        title: 'Community',
        link: '#'
      }
    ];
-
  const RoadmapItems = [
    {
      title: 'August 2021',
      items: [
        'Started project ☑️',
        'Budget accumulation ☑️',
        'Winning team search ☑️'
      ]
    },
    {
      title: 'Sept - Nov 2021',
      items: [
        'Whitepaper creation ☑️',
        'Smartcontract testing ☑️',
        'Building ideas for nft game ☑️',
        'start developing website and game ☑️',
        'start creating NFT ☑️',
        'start creating tokenomics ☑️'
      ]
    },
    {
      title: 'Dec - Jan 2022',
      items: [
        'Official launch on pinksale ☑️',
        'Start marketing campaign ☑️',
        'Airdrop ☑️',
        'Panckacke swap launch ☑️',
        'Start of collaborations with decentraland and the sandbox ☑️'
      ]
    },
    {
      title: 'Q1 2022',
      items: [
        'Listing on coinmarketcap and coingecko',
        'Early beta game',
        'Promotion cooperation with big celebrities',
        'NFT & Game community build-up',
        'NFT collaborations and launch'
      ]
    },
    {
      title: 'Q2 2022',
      items: [
        'Launch of new website',
        'Centralized exchange listening',
        'Launch of Spidershiba inu single player',
        'Creation of NFT marketplace',
        'First teaser of Spidershiba inu World Metaverse multiplayer',
        'Android & iOS App release'
      ]
    }
  ];

  const TeamItems = [
    {
      name: 'Harry Pham',
      position: 'Founder and CEO',
      img: 'team01.png'
    },
    {
      name: 'Bui Cai',
      position: 'Co-founder and CTO',
      img: 'team02.png'
    },
    {
      name: 'Binh Mai',
      position: 'Blockchain expert',
      img: 'team03.png'
    },
    {
      name: 'Lisa Dowen',
      position: 'Marketing and funnels',
      img: 'team04.png'
    },
  ];

  const TokenomicsItems = [
    {
      title: '19% on marketing',
      text: 'Thanks to our ecosystem you will be able to earn passively and actively',
      values: [
        {
          value: 19,
          color: '4E00FF'
        }
      ]
    },
    {
      title: '5% for founders, 6% stacked',
      text: 'Thanks to our ecosystem you will be able to earn passively and actively',
      values: [
        {
        value: 5,
        color: 'FF850B'
        },
        {
        value: 6,
        color: '663090'
        },
      ]
    },
    {
      title: '30% for liquidity',
      text: 'Thanks to our ecosystem you will be able to earn passively and actively',
      values: [
        {
        value: 30,
        color: '1DBEE1'
        }
      ]
    },
    {
      title: '10% for advisors',
      text: 'Thanks to our ecosystem you will be able to earn passively and actively',
      values: [
        {
          value: 10,
          color: '133D81'
        }
      ]
    },
    {
      title: 'P2e 15%',
      text: 'Thanks to our ecosystem you will be able to earn passively and actively',
      values: [
        {
          value: 15,
          color: 'FF0000'
        }
      ]
    },
    {
      title: 'NFT 15%',
      text: 'Thanks to our ecosystem you will be able to earn passively and actively',
      values: [
        {
          value: 15,
          color: '0096F2'
        }
      ]
    }
  ];

  const FAQItems = [
    {
      question: 'Where can I buy tokens and NFTs of SpiderShib Inu?',
      answer: 'Somewhere '
    },
    {
      question: 'Where can I buy tokens and NFTs of SpiderShib Inu?',
      answer: ''
    },
    {
      question: 'Where can I buy tokens and NFTs of SpiderShib Inu?',
      answer: ''
    },
    {
      question: 'Where can I buy tokens and NFTs of SpiderShib Inu?',
      answer: ''
    },
  ];
