extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    logo.logo
      a.logo__link(href='/')
        img.logo__img(src='img/logo.svg', alt='Spidershiba Inu logo')

    .header__burger
    nav.main-nav
      ul.main-nav__list
        each item in MainNavItems
          li.main-nav__item
            a.main-nav__link(href=`${item.link}`)= item.title

      a.btn.btn--join-community(href='#') Join Community

block content

  include ../pug/blocks/banner.pug

  .ticker(id='ticker')

  include ../pug/blocks/more-sec.pug
  include ../pug/blocks/how-it-works.pug
  include ../pug/blocks/play-to-earn.pug
  include ../pug/blocks/why-invest.pug
  include ../pug/blocks/roadmap.pug
  include ../pug/blocks/team.pug
  include ../pug/blocks/partners-and-investors.pug
  include ../pug/blocks/tokenomics.pug
  include ../pug/blocks/faq.pug
  include ../pug/blocks/community.pug



block footer
  footer.footer
    .footer__copyright Copyright &copy; 2021 SpiderShiba Inu. All Rights Reserved.

//- block append page-bottom
//-   script(src='js/some.js')
